# Workflow for processing and publishing bikeshed documents to github pages

name: Publish documents
on:
  push:
    # only concerned with changes in the main branch
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Bikeshed
        run: |
          pipx install bikeshed
          bikeshed update

      - name: Generate HTML
        run: for bsdoc in ./*.bs ./**/*.bs; do bikeshed spec $bsdoc; done

      - name: Generate SVG
        run: for diagram in ./*.mmd primer/*.mmd; do docker run --rm -v "$PWD:/data" minlag/mermaid-cli -i /data/$diagram; done

      - name: Create publication
        run: |
          mkdir publish
          for file in index.html *.svg; do cp $file ./publish/; done
          cp -R ./primer publish/
          for file in ./publish/primer/*.{mmd,bs}; do rm $file; done

      - name: Publish to GitHub pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          publish_dir: ./publish
          personal_token: ${{ secrets.GITHUB_TOKEN }}
